@model Web.Models.ComboSignupLoginModel
@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Login or Sign Up");
}

@Html.ValidationSummary(true, "", new { @class = "flash" })

<div class="container">

<div id="login">
    <h2>Login</h2>

    @using (Html.BeginForm("login","session")) { 
        @Html.AntiForgeryToken()
        @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"])

        <div class="field">
            @Html.LabelFor(mm => mm.UserLogin.LoginName, "Login")
            @Html.TextBoxFor(mm => mm.UserLogin.LoginName)
            @Html.ValidationMessageFor(mm => mm.UserLogin.LoginName)
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserLogin.Password)
            @Html.PasswordFor(mm => mm.UserLogin.Password) 
            @Html.ValidationMessageFor(mm => mm.UserLogin.Password)
        </div>
        
        <div class="buttons">
            <input type="submit" value="Login" />
        </div>
    }
</div>
<div id="signup">
    <h2>No account?</h2>

    @using (Html.BeginForm("signup", "session"))
    { 
        @Html.AntiForgeryToken()
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.FirstName)
            @Html.TextBoxFor(mm => mm.UserNew.FirstName)
            @Html.ValidationMessageFor(mm => mm.UserNew.FirstName) 
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.LastName)
            @Html.TextBoxFor(mm => mm.UserNew.LastName)
            @Html.ValidationMessageFor(mm => mm.UserNew.LastName) 
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.UserName)
            @Html.TextBoxFor(mm => mm.UserNew.UserName)
            @Html.ValidationMessageFor(mm => mm.UserNew.UserName) 
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.Email)
            @Html.TextBoxFor(mm => mm.UserNew.Email)
            @Html.ValidationMessageFor(mm => mm.UserNew.Email)
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.Password)
            @Html.PasswordFor(mm => mm.UserNew.Password)
            @Html.ValidationMessageFor(mm => mm.UserNew.Password)
        </div>
        
        <div class="field">
            @Html.LabelFor(mm => mm.UserNew.ConfirmPassword, "Confirm")
            @Html.PasswordFor(mm => mm.UserNew.ConfirmPassword)
            @Html.ValidationMessageFor(mm => mm.UserNew.ConfirmPassword)
        </div>
        
        <div class="buttons">
            <input type="submit" value="Sign Up" />
        </div>
    }
</div>

</div>