@model Web.Models.ResetPasswordModel
@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Reset Password");
}

<h2>Reset Password</h2>
<p>
    Use the form below to change your password. 
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "flash" })
    @Html.HiddenFor(m => m.ResetCode)
    <div id="changePassword">
            <div class="field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="buttons">
                <input type="submit" value="Reset Password" />
            </div>
    </div>
}
