<html>
    <head>
    </head>
    <body>
        <h3>Reset Your @Model.ApplicationName Password</h3>

        <p>
        Hi @Model.FirstName,
        </p>

        <p>
        Someone (hopefully you) has requested that your @Model.ApplicationName password be reset.
        </p>

        <p>
            To reset your password click the link below:<br />
            <a href="@Model.ForgotPasswordUrl">@Model.ForgotPasswordUrl</a>
        </p>

    </body>
</html>


