<!doctype html>
@* paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    @*  Mobile viewport optimized: j.mp/bplateviewport *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @*use SquishIt to combine and compress all CSS and Javascripts for better performance*@
    @MvcHtmlString.Create(SquishIt.Framework.Bundle.Css()
        .Add(HtmlHelpers.VirtualCSSPath("boilerplate.css"))
        .Add(HtmlHelpers.VirtualCSSPath("themes/base/jquery-ui.css"))
        .Add(HtmlHelpers.VirtualCSSPath("Site.css"))
        //.ForceRelease() //comment in to enable compression.
        .WithCompressor(SquishIt.Framework.Css.Compressors.CssCompressors.YuiCompressor)
        .Render(HtmlHelpers.VirtualCSSPath("combined_#.css"))
    )
    @RenderSection("cssFiles", false)

    @* All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects *@
    @Html.Script("modernizr-1.7.min.js")
</head>

<body>
    <div id="flash" class="flash" style="display:none"></div>
    <div id="container">
        <header>
            <h1><a href="/">@Web.SiteHelper.ApplicationName</a></h1>
            
            <div id="loginMenu">
            @if (HttpContext.Current.User.Identity.IsAuthenticated) { 
            <text>Hi @Html.Friendly() | </text>
                @Html.ActionLink("Logout", "Logout", "session")
            } else {
                @Html.ActionLink("Login","Login","session")
            } 
            </div>
        </header>
        <div id="main" role="main">
            @RenderBody()
        </div>
        <footer>
            &copy;@DateTime.Now.Year
        </footer>
    </div>
    
    @*Javascript at the bottom for fast page loading -->
      Grab Google CDN's jQuery. fall back to local if necessary*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="@Html.ScriptPath("jquery-1.4.4.min.js")">\x3C/script>')</script>

    @*use SquishIt to combine and compress all Javascripts for better performance*@
    @MvcHtmlString.Create(SquishIt.Framework.Bundle.JavaScript()
        .Add(HtmlHelpers.VirtualScriptPath("jquery.validate.min.js"))
        .Add(HtmlHelpers.VirtualScriptPath("jquery.validate.unobtrusive.min.js"))
        .Add(HtmlHelpers.VirtualScriptPath("jquery-ui-1.8.10.min.js"))
        .Add(HtmlHelpers.VirtualScriptPath("jquery.cdeutsch.js"))
        .Add(HtmlHelpers.VirtualScriptPath("jquery.cdeutsch.ajaxui.js"))
        .Add(HtmlHelpers.VirtualScriptPath("json2.min.js"))
        //.ForceRelease() //comment in to enable compression.
        .Render(HtmlHelpers.VirtualScriptPath("combined_#.js"))
    )
    @RenderSection("scriptFiles", false)

    @*display jquery flash messages*@
    @Html.Flash()

    @*mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID *@
    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1;
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        } (document, 'script'));
    </script>
    
</body>
</html>
